.shopcatogory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcatogory-indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;

}

.shopcatogory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcatogory-indexosrt p span{
    font-weight: 600;
}

.shopcatogory-products{
    margin: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;

}

.shopcatogory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}